{% load staticfiles %}
<!DOCTYPE html>
<html lang="esp">
<head>
	<meta charset="UTF-8">
	<title></title>
	
	<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.css' %}" rel="stylesheet">
     
     <link href="{% static 'metro/css/metro-icons.css' %}" rel="stylesheet">
      <link href="{% static 'css/normalize.css' %}" rel="stylesheet">  
     
     <link rel="stylesheet" href="{%static 'css/controles.css'%}">

      <link rel="stylesheet" href="{% static 'css/style_theme.css'%}"> 
	   {% block style%}{%endblock%}
	          
     <script src="{% static 'js/jquery.js' %}"></script>	
     <script src="{% static 'js/jquery.form.js' %}"></script>    	
</head>
<body>
      <div >
	 {% if  user.is_superuser %}
        {%include 'planificador.html' %}
       {%else%}
        {%include 'menu-sidebar.html' %}
       {% endif %}
       </div>
       <div class="" style="margin-top:2%;"> 
                   
                 
       {% include 'menu_izq.html'%}
       
       <div   id="contenidos">
      {% block content %}
      <div class="bienvenida">
            <br><br>
            <h2>Bienvenidos a Horario Docente</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam omnis sed eligendi exercitationem illo a iste, voluptatum ratione, quis praesentium fuga quo, atque officia hic incidunt reiciendis dignissimos nisi id.</p>
             <br>
             <h3>Holguín - Cuba</h3>
             <h4>Curso 2015 - 2016</h4>
      </div>
      
      {% endblock %}
      
      </div>
       <div class="" style="margin-top:2%;"> 
      {% if  user.is_superuser %}
        {% include 'menu_der.html'%}
       {%endif%}       
      
      </div>
      </div>  
       {% include 'footer.html'%}   
     <script src="{% static 'js/modernizr-2.0.6.min.js'%}"></script>
     <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.js' %}"></script>
     <script src="{% static 'js/script.js'%}"></script>
     <script src="{%static 'metro/js/metro.js'%}"></script>
     <script src="{%static 'js/menu_derecha.js'%}"></script>
     
      {% block js %}{% endblock %} 
     
      
</body>
</html>