{% load staticfiles %}
<!DOCTYPE html>
<html lang="esp">
<head>
	<meta charset="UTF-8">
	<title></title>
	
	<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/normalize.css' %}" rel="stylesheet">  
      <link rel="stylesheet" href="{% static 'css/style_theme.css'%}"> 
	   {% block style%}{%endblock%}
	          
     <script src="{% static 'js/jquery.js' %}"></script>	
	
</head>
<body>
      <div class="modal-header">
	 {% if   user.is_active and user.is_superuser %}
        {%include 'planificador.html' %}
       {% endif %}
       </div>
       <br>
       <div class="modal-body">
      {% block content %}
      
      {% endblock %}
      </div>
      </section>       
     <script src="{% static 'js/modernizr-2.0.6.min.js'%}"></script>
     <script src="{% static 'js/bootstrap.js' %}"></script>
     
     
      {% block js %}{% endblock %} 
	 
      
</body>
</html>