<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}<h1  class="texto">Cambiar contraseña</h1>{% endblock page_title %}
{% block content %}


<div class="panel panel-default">


                <nav class="navbar navbar-inverse theme_border">
                       <div class="form-horizontal" >
                           <h4 class="text-center" style="color: #f6faff">
                                          Cambiar contraseña
                               
                           </h4>
                       </div>
                   </nav>
                <form action="" method="POST" class= "form-inline col-md-12">
                    {% csrf_token %}

                    <div  class="row">
                        <div class="col-md-12 margenInternoForm">
                            <label>Inserte Contraseña</label>
                            <input  id = "password" type="password" class="form-control" required="required">
                       
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-md-12 margenInternoForm">
                        <label>Comprobar Contraseña</label><br>
                            <input name="password" id = "comprobar" type="password" class="form-control" required="required">
                            <div class="local-error" style="visibility: hidden;" id="message-pass-error"> Las contraseñas no coinciden</div>
                        </div>
                    </div>


                    <div  class="row" style="margin-top: 2px">
                        <div class="col-md-3 col-md-offset-9 margenInternoForm">
                            <input type="submit" id="submit" value="Guardar" class="btn btn-default"><br>
                        </div>
                    </div>
                </form>

            </div>
    </div>
    </div>

    
{% endblock %}
{% block js %}
<script>
jQuery(function($){    
    
    $('#comprobar').focusout(function(){  
        var $pass = $('#password').val();
        var $repass = $('#comprobar').val();      
        if($pass!=$repass){
          $('#message-pass-error').attr('style','visibility: visible; color:red;'); 
        }else{
            $('#message-pass-error').attr('style','visibility: hidden;'); 
        }
        
   
    });
});
</script>
{% endblock %}