<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}<h1  class="texto">Cambiar contraseña</h1>{% endblock page_title %}
{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">


                <nav class="navbar navbar-inverse">
                       <div class="form-horizontal" >
                           <h4 class="text-center" style="color: #f6faff">
                                          Cambiar Contraseña
                               <a data-toggle="modal" href="#myModal" class="btn">
                                   <span class="glyphicon glyphicon-exclamation-sign">

                                   </span>
                               </a>
                           </h4>
                       </div>
                   </nav>
                <form action="/CambiarPasswordE/{{ aprobado}}/" method="POST" class= "form-inline col-md-12">
                    {% csrf_token %}

                    <div  class="row">
                        <div class="col-md-12 margenInternoForm">
                            <label>Inserte Contraseña</label>
                            {{form.password }}
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-md-12 margenInternoForm">
                        <label>Comprobar Contraseña</label><br>
                            <input name="password" id = "comprobar" type="password" class="form-control" required="required">
                        </div>
                    </div>




                    <div  class="row" style="margin-top: 2px">
                        <div class="col-md-3 col-md-offset-9 margenInternoForm">
                            <input type="submit" id="submit" value="Guardar" class="btn btn-default">
                        </div>
                    </div>
                </form>

            </div>
    </div>
    </div>

    <div class="modal fade" id="passWord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title " > Error</h4>
        </div>
        <div class="modal-body">
        <h4 style = "text-align: center" >¡Las contraseñas no coinciden!</h4>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


{% endblock %}
{% block extra_js %}<script src="{% static 'js/PasswordEstudiante.js' %}"></script>{% endblock extra_js %}