<div class="modal fade" id="cambiando" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
        <div class="modal-content">
            
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
              <h4 class="text-center">
                     Cambiar contraseña
               </h4>
             </div>
             <div class="modal-body">
                  
                <form action="{% url 'CambiarPassword' %}" method="POST" id="cambiar_contra">
                    {% csrf_token %}
               <div class="modal-body">
                    
                        <div>
                            <label>Inserte Contraseña</label>
                            <input  id = "password" type="password" class="form-control" required="required">
                       
                        </div>
                    
                    
                       <div>
                            <label>Comprobar Contraseña</label><br>
                            <input name="password" id = "comprobar" type="password" class="form-control" required="required">
                            <div class="local-error" style="visibility: hidden;" id="message-pass-error"> Las contraseñas no coinciden
                                
                            </div>
                        
                    </div>

                  </div>
                    <div   style="margin-top: 2px" class="modal-footer">
                        <div>
                            <input type="submit"  value="Guardar" class="btn btn-default"><br>
                        </div>
                    </div>
                    
                </form>

 </div>
    </div>
    </div>


<script>
jQuery(function($){  
    $('#cambiando-pass').click(function(){
       $('#cambiando').modal('show'); 
    });
    
      
    
    $('#comprobar').focusout(function(){  
        var $pass = $('#password').val();
        var $repass = $('#comprobar').val();      
        if($pass!=$repass){
          $('#message-pass-error').attr('style','visibility: visible; color:red;'); 
        }else{
            $('#message-pass-error').attr('style','visibility: hidden;'); 
        }
        
   
    });
    
    
    
    
});
</script>
