 <div class="modal fade" id="horarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " >Crear Horario</h4>
             </div>
             <div id = "contenedor" class="modal-body">
               <h4 id="texto" style = "text-align: center" >No hay un horario para este semestre,¿Desea Crearlo? </h4>
             </div>
             
                <form id = "forh" action= "{% url 'crear_semana'%}" method='POST' class=' form-inline botonCentrado'>
                  {% csrf_token %}
			      <div class="modal-body">  
				  <label for="nm">Fecha de inicio de la Primera semana:</label>
				  <input type="date" name="desde" id="nm" class="form-control">
				  <label for="">Numero de semana:</label>
				  <input type="text" id=""name="numero" readonly value="01" class="form-control">
				  <label for="">Semestre:</label>
          <input type="text" id="" readonly value="semestre.nombre" class="form-control">
				  <input type="text" id="" name="semestre" class="hidden" value="semestre.id">
				  <label for="">Carrera:</label>
				  <input type="text" id="" readonly value="carrera.nombre" class="form-control">
				  <input type="text" name="carrera" id="" value="carrera.id" class="hidden">
			     </div>
			     <div class="modal-footer">
                  <input type='submit' class='btn btn-default'  value='Guardar' class='btn btn-primary'>
				  
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
               
			     </div>
			    </form>
               
               
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
         jQuery(function($){
             $('a#carrera').click(function(){
               var $texto= $(this).attr('name');
			   {% if semana %}
			   $(this).attr('href',$texto);
			   {% else %}
               $('#horarios').modal('show');
         {%endif%}
             });
             
         });
         
     </script>