
<div class="modal fade" id="detallesplanificador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content"> 
  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                <h4 class="modal-title " >Informacion de Usuario</h4>
  </div>    
<div class="modal-body">
    <table class="table table-details">
        <tr>
            <th>Usuario:</th>
            <td id="det_usuario"></td>
        </tr>
        <tr>
            <th>Nombre (s):</th>
            <td id="det_nombre"></td>
        </tr>
        <tr>
            <th>Apellidos:</th>
            <td id="det_apellido"></td>
        </tr>
        <tr>
            <th>Correo Web:</th>
            <td id="det_correo"></td>
        </tr>
       

    </table>
</div>
</div>
    </div> 
</div>



<script>
    $(document).ready(function(){
	
	$('.detallesplanificador').click(function(e){
       
		var au=$(this).attr('name');
		{% for usua in usuarios %}
		if ('{{usua.id}}' == au){
        
		$('#det_usuario').text('{{usua.username}}');
        $('#det_nombre').text('{{usua.first_aname}}');
        $('#det_apellido').text('{{usua.last_name}}');
        $('#det_correo').text('{{usua.email}}');
		};
		{% endfor %}
        
        $('#detallesplanificador').modal('show');
	});
});
    
</script>