{% extends 'base.html'%}
 {% block content %}
 <div class="panel panel-default">
    <nav class="navbar navbar-inverse theme_border">
       <div class="form-horizontal">
            <h4 class="text-center" style="color: #f6faff">
                                     Lista de Carreras
            </h4>
       </div>
     </nav>
<a href="#" onclick="return false;" class ="btn" data-toggle="modal" data-target="#modalNuevo"><span class="glyphicon glyphicon-plus"></span> Nueva Carrera</a>
<table class="table">
  <tr><th class="col-lg-4">Carrera</th><th class="col-lg-4">Asignaturas</th><th class="col-lg-4">Acciones</th></tr>
  {% for carrera in carreras %}
  <tr>
    <td>{{carrera.nombre}}</td>
    <td><a href="{%url 'lista_asignaturas' carrera.id %]">Asignaturas</a></td>
  
  
  
  </tr>
  
  {% endfor %}
  
</table>


</div>
  
 <div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " >Nueva Carrera</h4>
             </div>
             <form id = "formulario" action= '' method='POST' class=' form-inline botonCentrado'>
                  {% csrf_token %}
                    <div id = "contenedor" class="modal-body">
                      <input type="text" name="nombre" class="form-control">
                    </div>
                    <div class="modal-footer">
                        
				  
                  <input type='submit' class='btn'  value='Guardar'>
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
                
               </div>
               </form>
               
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



  
 {% endblock %}