 
 
 <div class="menu-lateral-dercho modal-dialog" id="menu-der">
	
	<div class="cabecera navbar-left">
              <input type="checkbox" id="activar-derecho" class="hidden">
              <label for="activar-derecho" id="icono" class="navbar-left"><span class="mif-menu"></span></label>
            
    </div> 

<div class="cuerpo">
<div class="categ">
	CATEGORIAS
	 <a href="#" data-toggle="modal"  data-target="#crearfacultad" class="bloque mif-files-empty fg-white"></a>
</div>	
{%for facu in facultad%}
<ul >	
	<li class="sub"><a href="#" onclick="return false;" class="items">{{facu.nombre}}<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul>
			{%for facultadcate in facultadcategoria%}
			{%if facultadcate.id_facultad.id == facu.id and facultadcate.id_categoria.nombre == 'pregrado' %}
			<li class="sub"><a href="#" onclick="return false;" class="items">Pregrado <span class="glyphicon glyphicon-chevron-down"></span> <span id="nuevac" class="glyphicon glyphicon-file nuevito" data-toggle="modal" data-target="#crearcarrera"></span></a> 
			
			<ul>
				{%for car in carreras%}
				{%if car.id_facultad_categoria.id_facultad.id == facu.id and car.id_facultad_categoria.id_categoria.nombre == 'pregrado'%}
							
				<li class="sub"><a href="#" onclick="return false;" class="items">{{car.nombre}}<span class="glyphicon glyphicon-chevron-down"></span></a>
					<ul>
											
						<li class="sub"><a href="#" onclick="return false;" class="items">Primer semestre<span class="glyphicon glyphicon-chevron-down"></span></a>
							<ul>
								{%for carreraa in carrerasaño%}
			         	        {%if carreraa.id_carrera.id == car.id and carreraa.id_año.id_semestre.nombre == 'primero'%}
								<li>
									<a href="#" id="carrera"name="{{carreraa.id_año.id}}" class="items">{{carreraa.id_año.nombre}}</a>
								</li>
								{%endif%}
						        {%endfor%}
							</ul>
						</li>
						<li class="sub"><a href="#" onclick="return false;" class="items">Segundo semestre<span class="glyphicon glyphicon-chevron-down"></span></a>
							<ul>
								{%for carre in carrerasaño%}
			         	        {%if carre.id_carrera.id == car.id and carre.id_año.id_semestre.nombre == 'segundo' %}
								<li>									
									<a href="#" class="items">{{carre.id_año.nombre}}</a>
								</li>
								{%endif%}
						        {%endfor%}
							</ul>
						</li>
						</ul>
						</li>
						{%endif%}
						{%endfor%}
						</ul>
						</li>
						{%else%}
									
						<li class="sub"><a href="#" onclick="return false;" class="items">Postgrado <span class="glyphicon glyphicon-chevron-down"></span> <span id="nuevac" class="glyphicon glyphicon-file nuevito" data-toggle="modal" data-target="#crearcarrera"></span></a> 
						
						<ul>
							{%for car in carreras%}
							{%if car.id_facultad_categoria.id_facultad.id == facu.id and car.id_facultad_categoria.id_categoria.nombre == 'postgrado'%}
										
							<li class="sub"><a href="#" onclick="return false;" class="items">{{car.nombre}}<span class="glyphicon glyphicon-chevron-down"></span></a>
								<ul>
														
									<li class="sub"><a href="#" onclick="return false;" class="items">Primer semestre<span class="glyphicon glyphicon-chevron-down"></span></a>
										<ul>
											{%for carreraa in carrerasaño%}
											{%if carreraa.id_carrera.id == car.id and carreraa.id_año.id_semestre.nombre == 'primero'%}
											<li>
												<a href="#" class="items">{{carreraa.id_año.nombre}}</a>
											</li>
											{%endif%}
											{%endfor%}
										</ul>
									</li>
									<li class="sub"><a href="#" onclick="return false;" class="items">Segundo semestre<span class="glyphicon glyphicon-chevron-down"></span></a>
										<ul>
											{%for carre in carrerasaño%}
											{%if carre.id_carrera.id == car.id and carre.id_año.id_semestre.nombre == 'segundo' %}
											<li>									
												<a href="#" class="items">{{carre.id_año.nombre}}</a>
											</li>
											{%endif%}
											{%endfor%}
										</ul>
									</li>
						
						</ul>
						</li>
												
						{%endif%}
						{%endfor%}
					</ul>
				</li>
				
				{%endif%}
				{%endfor%}
			</ul>			
			
			</li>		
		</ul>

{%endfor%}

</div>
 
</div>

<script>
	jQuery(function($){	
		
		var contador1=1;
		$('#activar-derecho').click(function(){
			if (contador1==1){
				$('#menu-der').animate({
					right:'0'
				});
				
				contador1=0;
			}else{
				$('#menu-der').animate({
					right:'-22%'
				});
				
				contador1=1;
			}
		});	
		
		
	});
</script>