 {%load staticfiles %}
 <div class="menu_derecha modal-dialog">
   <div class="">
              <input type="checkbox" id="activar-derecha" class="hidden">
              <label for="activar-derecha" id="icono-derecha"><span  class="mif-menu fg-white"></span></label>
            
    </div> 
   
    <div class="cuerpos"> 
     <ul>
         <li id="administradores" class="der">
             <a href="#" onclick="return false;" class="item cab"><span class="mif-calendar fg-white logo"></span>PLANIFICADORES <span id="newadmin" class="mif-files-empty fg-white nuevoo"></span></a>
             <ul id="administra"  class="contenedores">
                 
             </ul>
         </li>
         
         <li id="professors" class="der">
             <a href="#" onclick="return false;" class="item cab"><span class="mif-organization fg-white logo"></span>PROFESORES <spann id="newprofessor" class="mif-files-empty fg-white nuevoProfesor nuevoo "></spann></a>
             <ul id="profesores"  class="contenedores">
                 
             </ul>
         </li>
         <li id="asigna" style="visibility:hidden"  class="der">
             <a href="#" onclick="return false;" class="item cab"><span class="mif-laptop fg-white logo"></span>ASIGNATURAS <span id="newasignatura" class="mif-files-empty fg-white nuevaasignatura nuevoo "></span> </a>
             <ul id="asignaturass" class="contenedores">
                 
             </ul>
         </li>
     </ul>
     </div>
 </div>
 
 
 
 
 <!--crear planificador-->
 <div class="modal fade" id="crearplanificador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " >Crear Planificador</h4>
             </div>
             <form action="{%url 'crear_usuario'%}" method="POST">{%csrf_token%}
               <div class="modal-body">
                  
                <label>Nombres:</label>
                <input type="text" name="first_name" required="" placeholder="Nombre" class="form-control" "/><br>
            
               <label>Apellidos:</label>
               <input type="text" name="last_name" required="" placeholder="Apellidos" class="form-control" "/>
            
              <label>Nombre de usuario:</label>
              <input type="text" name="username" required="" placeholder="Nombre de usuario" class="form-control " required="required""/>
            
              <label>Correo web:</label>
              <input type="email" required="" name="email" placeholder="usuario@uho.edu.cu" class="form-control""/>
            <br>

                <label>Contraseña:</label>
                <input type="password" name="" placeholder="Contraseña" class="form-control" required="required" id="pas"/><br>
            
            
                <label>Repita la contraseña:</label>
                <input type="password" name="password" placeholder="Repita la contraseña" class="form-control" required="required" id="repas"/><br>
                
                <div class="local-error" id="message-pass-error1" style="visibility:hidden"> Las contraseñas no coinciden</div>
           
               </div>
			     <div class="modal-footer">
                  <input type='submit' class='btn btn-default'  value='Crear' class='btn btn-primary'>
				  
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
               
			     </div>
			    </form>               
               
              
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 



<!--crear profesor-->
 <div class="modal fade" id="crearprofesor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " >Crear Profesor</h4>
             </div>
             <form action="{%url 'crear_profesor'%}" method="POST">{%csrf_token%}
               <div id = "contenedor" class="modal-body">
                   <label for="nombre">Nombre y Apellidos</label>
                   <input type="text" class="form-control" id="nombre" name="nombre">
                   <label for="titulo">Titulo</label>
                   <input type="text" class="form-control" id="titulo" name="titulo">
               
               </div>
			     <div class="modal-footer">
                  <input type='submit' class='btn btn-default'  value='Crear' class='btn btn-primary'>
				  
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
               
			     </div>
			    </form>
               
               
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
 
<!--nueva asignatura-->
<div class="modal fade" id="nuevasasignaturas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog modal-lg" >
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " align="center">Nueva Asignatura</h4>
             </div>
             <form id = "formulario" action= "{%url 'crear_asignatura'%}" method='POST'>
                  {% csrf_token %}
				    				  
                    <div id = "contenedor" class="modal-body">
						
						<table class="table">
							<tr>
								<td class="col-lg-6">
								<label for="nombre">Nombre:</label>
								<input type="text" name="nombre" id="nombre" requerid="" class="form-control">
								<div class="col-lg-6">
                <label for="letra">Letra Asignada:</label>
								<input type="text" required=""class="form-control" id="letra" name="identificador">
								</div>
                
                <div class="col-lg-6">
                <label for="horas">Horas totales:</label>
								<input type="number" required=""class="form-control" id="horas" name="horas">
								</div>
                <label for="profesor">Profesor:</label>
								<select name="profesor" id="profesorrr" class="form-control">
									
								</select>
					  	</td>
					  <td class="col-lg-6">
						  <label for="carrera">Carrera:</label>
						  <input id="carrera" type="text"value="{{seman.id_carrera.nombre}}" readonly class="form-control"/>
						  <label for="anho">Año:</label>
						  <input id="anho"type="text"value="{{seman.id_carrera_año.id_año.nombre}}" readonly class="form-control"/>
						  <label for="semestre">Semestre:</label>
						  <input type="text"value="{{seman.id_carrera_año.id_año.id_semestre.nombre}}" id="semestre" readonly class="form-control"/>
					    <input type="number"value="{{seman.id_carrera_año.id}}"  class="hidden" name="id_carrera_año"/>
					  
            
            </td>
					  <tr>
						  
					</table>
					</div>
               <div class="modal-footer">                        
				  
                  <input type='submit' class='btn btn-default'  value='Crear'>
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
                
               </div>
               </form>
               
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--eliminar asignatura-->
 <div class="modal fade" id="modalea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
                    <h4 class="modal-title " >Eliminar</h4>
             </div>
             <div id = "contenedor" class="modal-body">
               <h4 id="textoeliminarasignatura" style = "text-align: center" ></h4>
             </div>
             <div class="modal-footer">
                <form id = "formularioeliminarasignatura" action= '' method='POST' class=' form-inline botonCentrado'>
                  {% csrf_token %}
                  <input type='submit' class='btn btn-default'  value='Eliminar'>
				  
                  <input type='button'  class='btn btn-default' value='Cancelar' data-dismiss='modal'>
                </form>
               </div>
               
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 
<script src="{%static 'js/menu_derecha.js'%}"></script>

<script>
   function eliminarplanificador(e){	
    var usuario='{{user.username}}';    
		var aux=$(e).attr('name').split('-');    
    if(usuario != aux[0]){
		$('#textoeliminarasignatura').text('¿Desea eliminar el planificador '+ aux[0] + '?');
				
		$('#formularioeliminarasignatura').attr('action','/administracion/eliminar_usuario/'+aux[1]+'/');
		$('#modalea').modal('show');		
    }else{
      alert("No de puede eliminar el planificador porque está en uso");
    }		
  };
  
</script>