 {% load staticfiles %}
<div class="navbar navbar-inverse navbar-fixed-top theme_border">

           <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
            <a class="navbar-brand" href="/" >Horario Docente</a>
           </div>
            <div class="navbar-collapse collapse">
                 
                                   
         <ul class="nav navbar-nav navbar-right" style="margin-right: 5%">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"> </span><b class="caret"> </b></a>

           <ul class="dropdown-menu">
             <li><a href="#" class="detallesplanificador" name="{{user.id}}" data-toggle="modal" data-target="#detallesplanificador" title="Usuario Actual"><span class="glyphicon glyphicon-user"> </span> : {{ user.username }}</a></li>
               <li><a href="#" data-toggle="modal" data-target="#cambiando">Cambiar contraseña</a></li>

                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"> </span> Salir</a></li>
                 </ul>
               </li>
              </ul>
            </div><!--/.nav-collapse -->
        </div>
        

{%include 'Detalles_Usuario.html'%}
{%include 'CambiarPassword.html'%}
