 {% load staticfiles %}
<div class="navbar  navbar-fixed-top theme_border">
<div class="app-bar navbar-inverse"> 
           
                
            <a class="navbar-brand" href="/" >Horario Docente</a>
           
                     
            
            <div class="app-bar-element place-right " style="margin-right:10px">
                       
                       <a class="dropdown-toggle fg-white"> <span class="glyphicon glyphicon-cog"> </span></a>

                        <div class="app-bar-drop-container bg-white fg-dark place-right"
                         data-role="dropdown" data-no-close="true">
                          <div class="padding20">
                                    
                                <ul class="menus">
                                <li><a href="#" class="detallesplanificador" name="{{user.id}}" title="Usuario Actual"><span class="glyphicon glyphicon-user"> </span> : {{ user.username }}</a></li>
                                <li><a href="#" id="cambiando-pass">Cambiar contraseña</a></li>

                                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"> </span> Salir</a></li>
                            </ul>
               
            </div><!--/.nav-collapse -->
        </div>
        </div>
        </div>
        </div>

{%include 'Detalles_Usuario.html'%}
{%include 'CambiarPassword.html'%}
