.theme_border{
	border:0px;
	box-shadow: 4px 4px 4px gray;
}



input.entrada{
	height:30px;
	
}
.navbars{
	padding: 10px;
}

.btn-primary-uho{
	background: #a71;
	border-color:#a71;
}

#icono{
	position: relative;
	color:white;
	padding-right: 5px;
	font-size: 30px;
	cursor: pointer;
	margin-right: 1%;
	top: 0px;
	z-index: 200;
	
	
	 
}
.cabecera{
	margin-right: 10px;
}

.bloque{
	text-decoration: none;
	color:white;
	float:right;
	margin-right:5%;
	
	
}


.categ{
	display: block;
	padding: 10px;
	background: rgb(120,110, 50);	
	margin-left: 0px;
		
}

.menu-lateral{
	margin:0;
	padding: 0;
	padding-top: 2cm;
	position: fixed;
	top:0;	
	width: 25.5%;
	left: -22%;
	background: rgba(120,110, 50 ,0.9);
	height: 100vh;
	z-index: 100;
	box-shadow: 2px 0px 5px gray;
	
}


#contenidos{
	margin-left: 5%;
	margin-right: 2%;
	margin-top:5%;
}
.cuerpo{
	width: 85%;
    
	
}

.menu-lateral ul{
	left:0px;
	cursor: pointer;
	
	
}
.menu-lateral ul li>a.item{
	padding-left:10px;
	
}
.menu-lateral ul li ul li>a.items{
	padding-left:5%;
	
}
.menu-lateral ul li ul li ul li>a.items{
	padding-left:10%;
	
}

.menu-lateral ul li ul li ul li ul li>a.items{
	padding-left:15%;
	
}

.menu-lateral ul li ul li ul li ul li ul li>a.items{
	padding-left:20%;
	
}

.menu-lateral ul li span{
	float:right;
	right:0px;
	color:darkgray;
	font-size: 10px;
}
.menu-lateral ul{
	padding:0px;
	box-sizing: border-box;
	list-style:none;
	
}

.menu-lateral ul li a.items{
	text-decoration: none;
	width: 100%;
	display: block;
	color: white;
	padding: 10px;
	margin: 0px;
	
	
}
.menu-lateral ul ul{
	display: none;
}
.menu-lateral ul li a.items:hover{
background: rgb(120,110, 50);
border: 1px solid gray;	
text-decoration: none;
}

#nuevac{
	margin-right: 10px;
	z-index: 150;
	font-size: 12px;
}
#nuevac:hover{
background: rgb(110,110, 50);
border: 1px solid gray;	
	
}



.menu-lateral-dercho{
	margin:0;
	padding: 0;
	padding-top: 2cm;
	position: fixed;
	top:0;	
	width: 25%;
	
	right: -22%;
	background: rgba(120,110, 50 ,0.9);
	height: 100vh;
	z-index: 100;
	box-shadow: 2px 0px 5px gray;
	
}


.menu-lateral-derecho ul{
	left:0px;
	cursor: pointer;
	
	
}
.menu-lateral-dercho ul li>a.item{
	padding-left:10px;
	
}
.menu-lateral-derecho ul li ul li>a.items{
	padding-left:5%;
	
}
.menu-lateral-dercho ul li ul li ul li>a.items{
	padding-left:10%;
	
}

.menu-lateral-dercho ul li ul li ul li ul li>a.items{
	padding-left:15%;
	
}

.menu-lateral-dercho ul li ul li ul li ul li ul li>a.items{
	padding-left:20%;
	
}

.menu-lateral-dercho ul li span{
	float:right;
	right:0px;
	color:darkgray;
	font-size: 10px;
}
.menu-lateral-dercho ul{
	padding:0px;
	box-sizing: border-box;
	list-style:none;
	
}

.menu-lateral-derecho ul li a.items{
	text-decoration: none;
	width: 100%;
	display: block;
	color: white;
	padding: 10px;
	margin: 0px;
	
	
}
.menu-lateral-derecho ul ul{
	display: none;
}
.menu-lateral-dercho ul li a.items:hover{
background: rgb(120,110, 50);
border: 1px solid gray;	
text-decoration: none;
}